# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
myenv/


# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Models
models/*.pkl
models/*.joblib
models/*.keras

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

